@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@font-face {
  src: url(/fonts/toyota_bd.ttf);
  font-family: 'TYB'; }

@font-face {
  src: url(/fonts/toyota_rg.ttf);
  font-family: 'TYR'; }

@font-face {
  src: url(/fonts/OpenSans-Regular.ttf);
  font-family: 'OSR'; }

@font-face {
  src: url(/fonts/OpenSans-Bold.ttf);
  font-family: 'OSB'; }

.App {
  font-size: 13px;
  color: #333333;
  font-family: "OSR"; }
  @media (max-width: 1201px) {
    .App .container {
      width: 100%; } }
  .App h1, .App h2 {
    font-family: "TYB"; }
  .App .navbar {
    border-radius: 0;
    margin: 0;
    border: none; }
  .App .content {
    padding: 10px 20px; }
  .App .bordered {
    border-bottom: 1px solid #e5e5e5; }
  .App .navbar-header img {
    height: 62px;
    padding: 10px 25px; }
    @media screen and (max-width: 768px) {
      .App .navbar-header img {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important; } }
  .App .navbar-header span {
    font-size: 16px;
    line-height: 120%;
    padding-right: 90px;
    padding-top: 15px;
    padding-left: 10px;
    display: inline-block; }
  .App .Header .language-controls {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -18px; }
  .App .Header button {
    border: none;
    background: none;
    padding: 8px 12px;
    font-size: 12px;
    font-family: "OSR";
    outline: none;
    border-left: 1px solid #e5e5e5; }
    .App .Header button:nth-child(1) {
      border-left: none; }
    .App .Header button:hover {
      text-decoration: underline; }
  .App .Steps .navbar {
    min-height: 40px; }
  @media screen and (max-width: 1024px) {
    .App .Steps {
      text-align: center; } }
  .App .Steps button {
    border: none;
    background: none;
    padding: 18px 25px;
    font-size: 13px;
    font-family: "OSR";
    border-bottom: 2px solid #ffffff;
    outline: none; }
    .App .Steps button[disabled] {
      color: #999999; }
    .App .Steps button.active {
      border-color: #ea3012;
      color: #333333; }
    @media screen and (max-width: 1024px) {
      .App .Steps button {
        font-size: 12px;
        padding: 12px;
        border-bottom: none;
        white-space: nowrap; }
        .App .Steps button.button-arrow {
          display: inline-block; }
        .App .Steps button.active {
          border-color: #ffffff;
          margin: 0 60px; }
        .App .Steps button:not(.button-arrow):not(.active) {
          display: none; } }
  .App .Steps .button-arrow {
    display: none;
    position: absolute;
    top: 0;
    margin: 0; }
    .App .Steps .button-arrow span {
      font-family: FontAwesome;
      position: relative;
      width: 10px;
      height: 20px;
      color: #ea3012;
      display: inline-block; }
    .App .Steps .button-arrow[disabled] span {
      color: #e5e5e5; }
    .App .Steps .button-arrow.left {
      left: 0; }
      .App .Steps .button-arrow.left span::before {
        content: "\f053";
        left: 0; }
    .App .Steps .button-arrow.right {
      right: 0; }
      .App .Steps .button-arrow.right span::before {
        content: "\f054";
        right: 0; }
  .App main {
    float: left;
    width: 60%; }
    @media screen and (max-width: 1024px) {
      .App main {
        float: none;
        width: 100%; } }
  .App aside {
    float: right;
    width: 40%; }
    @media screen and (max-width: 1024px) {
      .App aside {
        float: none;
        width: 100%; } }
  .App .spinner {
    height: 200px;
    background: darkred; }
  .App .btn {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #e9e9e9;
    text-align: left;
    color: #555;
    width: 75%;
    display: block;
    margin: 20px 0;
    outline: none; }
    .App .btn:focus {
      outline: none;
      box-shadow: none; }
  .App .Summary {
    text-align: center; }
    .App .Summary table {
      margin-top: 20px;
      text-align: left;
      font-size: 1.1em; }
      .App .Summary table td {
        padding: 10px 10px 0 0; }
