
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "assets/fonts";

$brand-red:         #ea3012;
$brand-grey:        #e5e5e5;
$brand-grey2:       #595d60;
$brand-grey3:       #333333;

$breakpoint:        1024px;

$fontToyota:        'OSR';
$fontToyota2:       'TYB';

.App {

  font-size: 13px;
  color: $brand-grey3;
  font-family: $fontToyota;

  @media (max-width: 1201px){
    .container {
      width: 100%;
    }
  }

  h1, h2 {
    font-family: $fontToyota2;
  }

  .navbar {
    border-radius: 0;
    margin: 0;
    border: none;
  }

  .content {
    padding: 10px 20px;
  }

  .bordered {
    border-bottom: 1px solid $brand-grey;
  }

  .navbar-header {
    img {
      height: 62px;
      padding:10px 25px;

      @media screen and (max-width: 768px) {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
      }
    }

    span {
      font-size: 16px;
      line-height: 120%;
      padding-right: 90px;
      padding-top: 15px;
      padding-left: 10px;
      display: inline-block;
    }
  }

  .Header {

    .language-controls {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -18px;
    }

    button {
      border: none;
      background: none;
      padding: 8px 12px;
      font-size: 12px;
      font-family: $fontToyota;
      outline: none;
      border-left: 1px solid $brand-grey;

      &:nth-child(1){
        border-left: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .Steps {

    .navbar {
      min-height: 40px;
    }

    @media screen and (max-width: $breakpoint) {
      text-align: center;
    }

    button {

      border: none;
      background: none;
      padding: 18px 25px;
      font-size: 13px;
      font-family: $fontToyota;
      border-bottom: 2px solid #ffffff;
      outline: none;

      &[disabled]{
        color: $brand-grey;
      }

      &.active {
        border-color: $brand-red;
        color: $brand-grey3;
      }

      @media screen and (max-width: $breakpoint) {

        font-size: 12px;
        padding: 12px;
        border-bottom: none;
        white-space: nowrap;

        &.button-arrow {
          display: inline-block;
        }

        &.active {
          border-color: #ffffff;
          margin: 0 60px;
        }

        &:not(.button-arrow){
          &:not(.active){
            display: none;
          }
        }

      }
    }

    .button-arrow {
      display: none;
      position: absolute;
      top: 0;
      margin: 0;

      span {
        font-family: FontAwesome;
        position: relative;
        width: 10px;
        height: 20px;
        color: $brand-red;
        display: inline-block;
      }

      &[disabled]{
        span {
          color: $brand-grey
        }
      }

      &.left{
        left: 0;

        span {
          &::before {
            content: "\f053";
            left: 0;
          }
        }
      }

      &.right {
        right: 0;

        span {
          &::before{
            content: "\f054";
            right: 0;
          }
        }
      }
    }
  }

  .VerifyUser {

  }

  main {
    float: left;
    width: 60%;
    @media screen and (max-width: $breakpoint) {
      float: none;
      width: 100%;
    }
  }

  aside {
    float: right;
    width: 40%;
    @media screen and (max-width: $breakpoint) {
      float: none;
      width: 100%;
    }
  }

  .spinner {
    height: 200px;
    background: darkred;
  }

  .btn {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #e9e9e9;
    text-align: left;
    color: #555;
    width: 75%;
    display: block;
    margin: 20px 0;
    outline: none;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }

  .Summary {
    text-align: center;

    table {
      margin-top: 20px;
      border: 1px solid red;
    }
  }

}



